body{
    background-color:#f3e6d8ff;
}

#Outside-container{
    background-color: white;
    width: 700px;
    height: fit-content;
    border-radius: 10px;
    position: relative;
    top: 100px;
}

img{
    position: relative;
    top: 20px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}

h1{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  right:100px;
  top: 10px;
}

#Heading{
    width: 600px;
    height: fit-content;
    font-size: 16px;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
}

#preparation{
    height: fit-content;
    width: 600px;
    background-color:#f8d5e7ff;
    border-radius: 10px;
}

h2{
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    color:#7b284fff;
    padding: 10px;
}

ul{
    padding-bottom: 10px;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
}

li{
    margin: 10px;
    color:#854632ff;
}

#In{
    color: #854632ff;
    position: relative;
    right: 200px;

}

#instructions{
    width:600px;
}

#Ingredients>ul{
    position: relative;
    left:30px;
}

#inst{
    color: #854632ff;
    position: relative;
    right: 200px;

}
ol{
    padding-bottom: 10px;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    position: relative;
    right: 30px;
}

#nut{
    color: #854632ff;
    position: relative;
    right: 200px;
}


#nutrition{
    width: 600px;
    height: fit-content;
    font-size: 16px;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;

}

table{
    color: #854632ff;
    font-size: 20px;
    border-spacing: 15px;
}
td{
    
    padding: 10px;
}

.attribution{
    padding: 10px;
}